<?xml version="1.0" encoding="UTF-8" ?>

<!-- Here starts the general settings for the menu -->

<settings

separation="1" 
tabulation="60" 
autoClose="true"
glossy="true"
openEase="3"
closeEase="2.5"
rollOutFade="8"
rollOverFade="50"
arrowVisible="true"
arrowIcon="arrow"
arrowPosition="right"
window="_self"
slideTab="true"

></settings>


<!-- Here starts the configuration for each level -->


<level

itemHeight="38"
itemWidth="160"

btnVisible="true"

color="993300"
ro_color="99cc33"

tColor="336600"
ro_tColor="993300"
tSize="12"

aColor="993300"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="000000"

></level>


<level

itemHeight="20"
itemWidth="100"

btnVisible="true"

color="993300"
ro_color="99cc33"

tColor="993300"
ro_tColor="336600"
tSize="13"

aColor="993300"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="000000"

></level>


<level

itemHeight="20"
itemWidth="200"

btnVisible="true"

color="444444"
ro_color="cccccc"

tColor="cccccc"
ro_tColor="000000"
tSize="13"

aColor="cccccc"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="000000"

></level>


<level

itemHeight="20"
itemWidth="200"

btnVisible="true"

color="555555"
ro_color="cccccc"

tColor="cccccc"
ro_tColor="000000"
tSize="13"

aColor="cccccc"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="000000"

></level>


<level

itemHeight="20"
itemWidth="200"

btnVisible="true"

color="666666"
ro_color="cccccc"

tColor="cccccc"
ro_tColor="000000"
tSize="13"

aColor="cccccc"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="00000"

></level>


<level

itemHeight="20"
itemWidth="200"

btnVisible="true"

color="777777"
ro_color="cccccc"

tColor="cccccc"
ro_tColor="000000"
tSize="13"

aColor="cccccc"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="000000"

></level>


<!-- If your menu will have more than six levels copy the following configuration code

<level

itemHeight="20"
itemWidth="200"

btnVisible="true"

color="000000"
ro_color="cccccc"

tColor="cccccc"
ro_tColor="000000"
tSize="13"

aColor="cccccc"
ro_aColor="000000"

sepLineVisible="false"
sepLineColor="000000"

></level>

and then paste it below this line. Repeat the process for each extra level that your menu will have. Then configurate it with your menu look-->